<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styles/css/index2.css">
    <title>Index -2</title>
</head>
<body>
    <div class="sky">
        <img src="../styles/images/cloud.png" alt="" class="cloud">
        <img src="../styles/images/cloud.png" alt="" class="cloud">
    </div>
    <div class="grass"></div>
    <div class="road">
        <div class="lines"></div>
        <img class="luigi" src="../styles/images/luigi.png" alt="">
        <img class="mario" src="../styles/images/mario.png" alt="Mario">
        
    </div>
</body>
</html>