<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styles/css/propos.css">
    <title>A propos</title>
</head>
<body>
    <section class="head">
        <div class="nav">
            <div class="nav-left">
                <img src="../styles/images/devpea-logo-withe.png" alt="Logo-devpea" width="60">
                <span style="margin-top: -10px;">DevPea</span>
            </div>
            <div class="nav-right">
                <a (click)="goToAboutPage()">expertise</a>
                <a href="">Apropos</a>
                <a href="">réalisation</a>
                <a href="">contact</a>
                <a href="">publication</a>
                <a href="">AERRF</a>
            </div>
        </div>
    
        <div class="header">
            <div class="header-left">
                <div class="title">
                    A propos
                </div>
                <h1>Nous sommes une boite <br>
                    <span class="span-ingenieuse">Ingenieuse</span>
                    et
                    <span class="span-multi">multi-casquettes</span> 
                    <br>
                    animé pour le succes de vos projets   
                </h1>
            </div>
            <div class="header-right">
                <app-cube></app-cube>
            </div>                   
        </div> 
        <div class="picture">
            <img src="../styles/images/hero.svg" alt="" class="image-hero">
        </div>        
    </section>
    <section class="container">
        <div class="container-first">
            <div class="intro-title">
                Nos valeurs
            </div>
            <div class="container-first-secondblock">
                <ul class="valeur-contain">
                    <li>
                        <p class="title-value">Engagés</p>
                        <p>
                            <span>Vos projets, nous les entreprenons comme les nôtres.</span> Le but, c'est de réussir le pari ensemble. Les succès nous animent, les revers nous cassent les pieds, raison de plus pour se dépasser.
                        </p>
                    </li>
                    <li>
                        <p class="title-value">Agiles</p>
                        <p>
                            L'état d'<span>esprit start-up</span> est dans notre ADN. Nous l'avons sur tous nos projets, surtout sur <span>les grands comptes</span>. C'est ce qui nous permet de répondre pleinement à vos ambitions, aussi ambitieuses soient-elles.
                        </p>
                    </li>
                    <li>
                        <p class="title-value">A la pointe</p>
                        <p>
                            Méthodes, outils, façons de travailler, tout cela nous le faisons <span>évoluer en permanence</span>, pour répondre à vos objectifs. Nés curieux et exigeants, pour faire court.
                        </p>
                    </li>
                    <li>
                        <p class="title-value">Entiers</p>
                        <p>
                            Travailler avec nous c'est travailler <span>avec tout de nous</span>. On aime quand c'est simple, authentique, précis, élégant, agile, direct, puis on aime s'évader. Les salsifis on n'aime pas.
                        </p>
                    </li>
                </ul>
            </div>            
        </div>
        <div class="contain-second">
            <div class="square">
                <span></span>
                <span></span>
                <span></span>
                <div class="content">
                    <div class="first-title">Notre credo</div>
                    <div class="content-grid">
                        <div class="card1">
                            zrezr
                        </div>
                        <div class="card2">
zhggfhfg
                        </div>
                        <div class="card3">
gfhfdgh
                        </div>
                        <div class="card4">
kjhlik
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="contain-third">

        </div>
    </section>
</body>
</html>