<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Solution projet</title>
    <link rel="stylesheet"
    href="https://unpkg.com/boxicons@latest/css/boxicons.min.css">
    <link href="https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css" rel="stylesheet">
    <link rel="stylesheet" href="../styles/css/solution.css">

</head>
<body>
    <section class="head">
        <div class="nav">
            <div class="nav-left">
                <img src="../styles/images/devpea-logo-withe.png" alt="Logo-devpea" width="60">
                <span style="margin-top: -10px;">DevPea</span>
            </div>
            <div class="nav-right">
                <a (click)="goToAboutPage()">expertise</a>
                <a href="">Apropos</a>
                <a href="">réalisation</a>
                <a href="">contact</a>
                <a href="">publication</a>
                <a href="">AERRF</a>
            </div>
        </div>
    
        <div class="header">
            <div class="header-left">
                <div class="title">
                    A propos
                </div>
                <h1>Nous sommes une boite <br>
                    <span class="span-ingenieuse">Ingenieuse</span>
                    et
                    <span class="span-multi">multi-casquettes</span> 
                    <br>
                    animé pour le succes de vos projets   
                </h1>
            </div>
            <div class="header-right">
                <app-cube></app-cube>
            </div>                   
        </div> 
        <div class="picture">
            <img src="../styles/images/hero.svg" alt="" class="image-hero">
        </div>  
    </section>
    <section class="body">        
        <div class="icons">
                <a href="#"><i class="ri-linkedin-line"></i></a>
                <a href="#"><i class="ri-youtube-line"></i></a>
                <a href="#"><i class="ri-mail-line"></i></a>
        </div>
        <div class="icons-text">
            <a href="#">linkdIn</a>
            <a href="#">Ytube</a>
            <a href="#">Mail</a>
        </div>
        <div class="body-first-container">              
            <div class="square">
                <span></span>
                <span></span>
                <span></span>
                <div class="content">
                    <p>Naissance <br> Depuis 2022</p>
                    <h2>Devpea</h2>
                    <p>L'equipe Devpea a connu le jour suite a la collecte des problemes qui visent la societe et certain particulier</p>
                <a href="#">Read more</a>
                </div>
            </div>            
        </div>
    </section>
    <section class="body-second">
        <div class="container">
            <div class="intro-text">
                <strong>Nos valeurs</strong>
            </div>
            <div class="card">
                <div class="steps">
                    <h2 class="titre-valeur">Engagés</h2>
                    <p>
                        <span>Vos projets, nous les entreprenons comme les nôtres.</span> Le but, c'est de réussir le pari ensemble. Les succès nous animent, les revers nous cassent les pieds, raison de plus pour se dépasser.
                    </p>
                </div>
                <div class="steps">
                    <h2 class="titre-valeur">Agiles</h2>
                    <p>
                        L'état d'<span>esprit start-up</span> est dans notre ADN. Nous l'avons sur tous nos projets, surtout sur <span>les grands comptes</span>. C'est ce qui nous permet de répondre pleinement à vos ambitions, aussi ambitieuses soient-elles.
                    </p>
                </div>
                <div class="steps">
                    <h2 class="titre-valeur">A la pointe</h2>
                    <p>
                        Méthodes, outils, façons de travailler, tout cela nous le faisons <span>évoluer en permanence</span>, pour répondre à vos objectifs. Nés curieux et exigeants, pour faire court.
                    </p>
                </div>
                <div class="steps">
                    <h2 class="titre-valeur">Entiers</h2>
                    <p>
                        Travailler avec nous c'est travailler <span>avec tout de nous</span>. On aime quand c'est simple, authentique, précis, élégant, agile, direct, puis on aime s'évader. Les salsifis on n'aime pas.
                    </p>
                </div>
            </div>
        </div>
    </section>
    <section class="body-third">
        <div class="container">
            <div class="intro-text">
                <strong>Notre Credo</strong>
            </div>
            <div class="card">
                <div class="text-credo">
                    <div class="num">
                        01
                    </div>
                    <div class="text-credo-title">
                        Client avant tout
                    </div>
                    <p>
                        Le client final est au cœur de nos actions. Et ce n’est pas une variable d’ajustement.
                    </p>
                </div>
                <div class="text-credo">
                    <div class="num">
                        01
                    </div>
                    <div class="text-credo-title">
                        Client avant tout
                    </div>
                    <p>
                        Le client final est au cœur de nos actions. Et ce n’est pas une variable d’ajustement.
                    </p>
                </div>
                <div class="text-credo">
                    <div class="num">
                        01
                    </div>
                    <div class="text-credo-title">
                        Client avant tout
                    </div>
                    <p>
                        Le client final est au cœur de nos actions. Et ce n’est pas une variable d’ajustement.
                    </p>
                </div>
                <div class="text-credo">
                    <div class="num">
                        01
                    </div>
                    <div class="text-credo-title">
                        Client avant tout
                    </div>
                    <p>
                        Le client final est au cœur de nos actions. Et ce n’est pas une variable d’ajustement.
                    </p>
                </div>
            </div>
        </div>
    </section>
</body>
</html>